* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 350px;
    max-width: 350px;
    height: 100vh;
    position: fixed;
    transition: all 0.6s ease;
    transition-property: left;
}

.menu.active {
    width: 90px;
    z-index: 0.5;
}


.menu .close-btn-side .close-btn 
{
    font-size: 25px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    display: none;
}

.menu .logo-container {
    margin-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu .menu-container {
    margin: 0;
    margin-top: 15px;
    width: 100%;
    background: #92d13f;
    border-radius: 8px;
    padding-bottom: 10px;
}

.menu-container .menu-title {
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.menu-container .menu-title #menu-ico {
    font-size: 35px;
    min-width: 60px;
    align-items: flex-start;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.menu-container .menu-title #menu-txt {
    font-size: 30px;
    text-align: center;
    min-width: 60px;
    margin: 20px;
    right: 0;
}


.menu-container .menu-items {
    margin-top: 10px;
    width: 90%;

}

.menu-container .menu-items ul {
    list-style: none;
    align-self: center;
    margin: 0;
    padding: 0;
}

.menu-container .menu-items li {
    list-style: none;
    height: 50px;
    margin-bottom: 5px;
}

.menu-container .menu-items li .menu-item {
    width: 100%;
    align-items: center;
    border-radius: 5px;
    padding-top: 4px;
}

.menu-container .menu-items li .menu-item:hover {
    background: linear-gradient(#d2f73e, #7b9904);
    font-size: .9em;
}

.menu-container .menu-items li .active {
    background-image: linear-gradient(#d2f73e, #7b9904);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-shadow: 0px 1px 2px 1px #7a7c72;

    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.menu-container .menu-items li a {
    text-decoration: none;
}


.menu-item .menu-item-ico {
    font-size: 30px;
    min-width: 60px;
    font-weight: 600;
    text-align: center;
    color: black;
    align-items: center;
}

.menu-item .menu-item-txt {
    font-size: 25px;
    text-align: center;
    min-width: 60px;
    margin-left: 40px;
    color: black;
    font-weight: 500;
    transition: all 0.8s ease;
}

.menu.active~.menu-item .menu-item-txt {
    overflow: hidden;
    display: none;
}

.content {
    background: linear-gradient(#aae65c, #98ad44);
    width: calc(100% - 350px);
    height: 100vh;
    margin-left: 350px;
    transition: all 0.3s ease;
}

.menu.active ~ .content {
    width: calc(100% - 90px);
    margin-left: 90px;
    z-index: 3;
}

/* Header Content */

.content .header {
    height: 60px;
    justify-content: center;
}

.content .header .header-container {
    height: 100%;
}

.content .header .header-container {
    height: 100%;
}

.content .header .header-container .header-left
{
    height: 60px;
    color: white;
    text-align: center;
    width: 60px;
}

.content .header .header-container .header-left .menu-ico-container
{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.content .header .header-container .header-left .menu-ico-container i {
    font-size: 30px;
    margin-top: 15px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.content .header-container .header-right span 
{
    font-size: 18px;
    font-weight: bold;
}

.content .header-container .header-right .exit-ico
{
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    background-color: red;
    margin-top: 20px;
    border-radius: 15%;
    padding: 2px 2px 0px 2px;
}

.content .main-content {
    height: calc(100vh - 60px);
    overflow-x: hidden;
}


.content .main-content .wlcm-txt {
    font-size: 45px;
    text-align: center;
    font-weight: bolder;
    color: #c4de5b;
}

.content .main-content .cart
{
    background: transparent;
}

.content .main-content .action
{
    height: 60px;
}

.content .main-content .action .btn-add-user
{
    background-image: linear-gradient(#b6aaaa, #0a0c04);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-shadow: 0px 1px 2px 1px #7a7c72;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    padding: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.table-rsp
{
    font-size: 24px;
}

.content .main-content .right-action .breadcrumb li a
{
    text-decoration: none;
}


@media (max-width:1300px)
{
    .menu
    {
        width: 90px;
    }
    .content
    {
        width: calc(100% - 90px);
        margin-left: 90px;
        z-index: 2;
    }
}

@media (max-width:1280px)
{
    .menu
    {
        width: 90px;
    }
    .content
    {
        width: calc(100% - 90px);
        margin-left: 90px;
        z-index: 2;
    }
}

@media (max-width:1000px)
{
    .menu
    {
        width: 250px;
        left: -250px;
        z-index: 3;
        transition: 0.4s ease;
    }

    .menu.active-mini
    {
        left: 0;
        background: #fff;
    }

    .menu .close-btn-side
    {
        height: 60px;
    }

    .menu .close-btn-side .close-btn
    {
        display: block;
    }

    .content
    {
        width: 100vw;
        margin-left: 0;
        z-index: 1;
    }
    .content .header .header-container .header-left .menu-ico-container i {
        display: block;
        cursor: pointer;
    }
    
    .menuBtn{
        display: none;
        align-items: center;
    }
    .menu-title .menu-txt
    {
        justify-content: center;
        text-align: center;
        font-size: 18px;
        width: 100%;
    }

    .menu-item .menu-item-ico {
        font-size: 25px;
    }

    .menu-item .menu-item-txt {
        font-size: 20px;
        margin-left: 10px;
    }
}

@media (max-width:700px)
{
    .content .main-content .wlcm-txt {
        font-size: 35px;
    }
}

@media (max-width:500px)
{
    .content .main-content .wlcm-txt {
        font-size: 25px;
    }
}

@media (max-width:300px)
{
    .content .main-content .wlcm-txt {
        font-size: 20px;
    }
}


