.img-side img
{
    height: 100vh;
    width: 100vw;
}

.login-side 
{
    height: 100vh;
    /* background: linear-gradient(#9dd63a, #a1e330, #687532); */
    background: linear-gradient(#aae65c, #98ad44);

}

.login-container {
    width: 80%;
    height: auto;
    margin: auto;
}

.error-container
{
    font-size: 16px;
    font-weight: 700;
    color: red;
}

#error
{
    text-align: center;
}

.title {
    text-align: center;
    font-family: 'Calibri';
}

#txt-sol {
    color: #6a7a2b;
    font-size: 50px;
    font-weight: bolder;
}

#txt-acd {
    color: #ca2611;
    font-size: 50px;
    font-weight: bolder;
}

.form-container {
    width: 100%;
    height: auto;
    margin: auto;
}

input[type=text],
input[type=password] {
    width: 100%;
    border-radius: 8px;
    border: 3px solid #036316;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: #494d4a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-cnx {
    background-image: linear-gradient(#d2f73e, #7b9904);
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(10, 8, 8, 0.3) 0 5px 15px;
    box-shadow: 0px 1px 2px 1px #7a7c72;

    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-content
{
    margin-bottom: 60px;
    margin-top: 40px;
}

.action{
    margin-bottom: 25px;
}

.reset-pswd {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: auto;
}


.view-txt
{
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

#txt-vision {
    font-size: 35px;
    color: rgba(202, 38, 17);
    text-shadow: 1px 1px 1px rgba(119, 111, 110, 0.4);
    font-style: italic;
    font-family: 'calibri';
    margin-top: 20px;
}

#error
{
    font-weight:800;
    color: red;
}

@media(max-width:727px)
{
    #txt-sol {
        font-size: 40px;
    }
    
    #txt-acd {
        font-size: 40px;
    }

    .form-group
    {
        height: 60px;
        margin-bottom: 5px;
    }
    .form-group .form-label
    {
        font-size: 14px;
        margin-bottom: 1px;
    }
    .form-container {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    input[type=text],
    input[type=password] 
    {
        font-size: 15px;
    }
    .btn-cnx {
        font-size: .6em;
    }
    .action{
        margin-bottom: 15px;
    }
    
    .reset-pswd {
        font-size: 12px;
        font-weight: 600;
    }
    .view-txt
    {
        margin-top: 60px;
    }
    #txt-vision {
        font-size: 25px;
    }
}


@media (max-width:280px) 
{
    #txt-sol {
        font-size: 30px;
    }
    
    #txt-acd {
        font-size: 30px;
    }

    .form-group
    {
        height: 60px;
        margin-bottom: 5px;
    }
    .form-group .form-label
    {
        font-size: 12px;
        margin-bottom: 1px;
    }
    .form-container {
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    input[type=text],
    input[type=password] 
    {
        font-size: 12px;
        font-weight: normal;
    }
    .btn-cnx {
        font-size: .4em;
    }
    .action{
        margin-bottom: 15px;
    }
    
    .reset-pswd {
        font-size: .6em;
        font-weight: 600;
    }

    #txt-vision {
        font-size: 20px;
    }  
    .view-txt
    {
        margin-top: 60px;
    }
}


@media(max-height:600px)
{
    #txt-sol {
        font-size: 40px;
    }
    
    #txt-acd {
        font-size: 40px;
    }

    .form-group
    {
        height: 60px;
        margin-bottom: 5px;
    }
    .form-group .form-label
    {
        font-size: 14px;
        margin-bottom: 1px;
    }
    .form-container {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    input[type=text],
    input[type=password] 
    {
        font-size: 15px;
    }
    .btn-cnx {
        font-size: .6em;
    }
    .action{
        margin-bottom: 15px;
    }
    
    .reset-pswd {
        font-size: 12px;
        font-weight: 600;
    }
    .view-txt
    {
        margin-top: 60px;
    }
    #txt-vision {
        font-size: 25px;
    }
}