<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Users</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../apple-icon.png">
    <link rel="shortcut icon" href="../favicon.ico">


    <link rel="stylesheet" href="../assets/basetemplate/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../assets/basetemplate/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="../assets/basetemplate/images/logo.jpg" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="../assets/basetemplate/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    
                    <h3 class="menu-title text-center">MENU</h3><!-- /.menu-title -->
                    <li>
                        <a href="/accueilAdmin"> <i class="menu-icon fa fa-home"></i>Home </a>
                    </li>
                    <li>
                        <a href="/listeUser"> <i class="menu-icon fa fa-users"></i>Users </a>
                    </li>

                    <li class="menu-item-has-children active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Cours</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li class="menuCoursOBG" id="obgButton">
                                <i class="fa fa-bookmark"></i><a href="/listeCours">Obligatory</a>
                            </li>
                            <div class="obg-items">
                                <% listcourOblig.forEach(function(listcourOblig) { %>
                                    <li>
                                        <i class="fa fa-table"></i>
                                        <a href="/listeCours" onclick="getdataGP('/getdataGP','<%= listcourOblig.name_Cours %>' ,'<%= listcourOblig.type %>')">
                                            <%= listcourOblig.name_Cours %>
                                        </a>
                                    </li>
                                  <% }); %>
                                
                            </div>
                            

                            <li class="menuCours"><i class="fa fa-bookmark"></i><a href="/listeCours">Optional</a></li>
                            <div class="opt-items">
                                <% listcourFac.forEach(function(listcourFac) { %>
                                  <li><i class="fa fa-table"></i>
                                    <a class="" onclick="getdataGP('/getdataGP','<%= listcourFac.name_Cours %>' ,'<%= listcourFac.type %>')">
                                        <%= listcourFac.name_Cours %>
                                    </a></li>
                                <% }); %>
                            </div>

                            <li class="menuCours"><i class="fa fa-bookmark"></i><a href="/listeCours">All Cours</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="/graduation"> <i class="menu-icon fa fa-bar-chart-o"></i>Graduations </a>
                    </li>
                    <li>
                        <a href="/view"> <i class="menu-icon fa fa-eye"></i>Global view </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        

        
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../assets/basetemplate/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <!-- <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a> -->

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Users</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#UserFormModal"><i class="fa fa-plus"></i> New user</button>
                                    <strong class="card-title my-auto">Users</strong>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>M Code</th>
                                            <th>Num</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listuser.forEach(function(listuser) { %>
                                        <tr>
                                            <td><%= listuser.username %></td>
                                            <td><%= listuser.m_code %></td>
                                            <td><%= listuser.num_agent %></td>
                                            <td><%= listuser.type_util %></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                    <button type="button" class="btn btn-sm btn-success"><i class="fa fa-list"></i></button>
                                                    <button type="button" class="btn btn-sm btn-warning" onclick="getdata('/getuser','<%= listuser._id %>')" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                                                        data-bs-whatever="@getbootstrap" ><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#deleteUser" ><i
                                                        onclick="delete_user('<%= listuser.username %>')"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }); %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="deleteUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">DELETE USER</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="textwarn"></p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="confirm_del()">Yes, delete it!</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="UserFormModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel">New User</h5>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="username" class=" form-control-label">Username</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
                                            <!-- <small class="help-block form-text">This is a help text</small> -->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="m_code" class=" form-control-label">M Code</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="m_code" name="m_code" placeholder="M Code" class="form-control" required>
                                            <!-- <small class="help-block form-text">Please enter your email</small> -->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="num_agent" class=" form-control-label">Agent Num</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="num_agent" name="num_agent" placeholder="Password" class="form-control" required>
                                            <!-- <small class="help-block form-text">Please enter a complex password</small> -->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="type_util" class="form-control-label">User Type</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="typ_util" id="type_util" class="form-control" required*>
                                                <option disabled selected>Select Type</option>
                                                <option value="Participant" >Admin</option>
                                                <option value="Teacher">Teacher</option>
                                                <option value="Admin">Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="cours" class=" form-control-label">Cours</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="cours" name="cours" placeholder="Cours" class="form-control" required>
                                            <!-- <small class="help-block form-text">Please enter a complex password</small> -->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="level" class=" form-control-label">Level</label></div>
                                        <div class="col-12 col-md-9">
                                            <input type="text" id="level" name="level" placeholder="Level" class="form-control" required>
                                            <!-- <small class="help-block form-text">Please enter a complex password</small> -->
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="group" class=" form-control-label">group</label></div>
                                        <div class="col-12 col-md-9">
                                            <select name="group" id="group" class="form-control" required*>
                                                <option value="0" disabled selected>Please select</option>
                                                <option value="1">Group 1</option>
                                                <option value="2">Group 2</option>
                                                <option value="3">Group 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script src="../assets/basetemplate/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../assets/basetemplate/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../assets/basetemplate/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/basetemplate/assets/js/main.js"></script>

    <script src="./../assets/basetemplate/assets/js/update-user.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/basetemplate/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../assets/basetemplate/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../assets/basetemplate/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../assets/basetemplate/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="../assets/basetemplate/assets/js/init-scripts/data-table/datatables-init.js"></script>

</body>

</html>
